<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Streamify{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/icon.png') }}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <h1><img src="{{ asset('images/logo.png') }}" alt="Logo Streamify"></h1>
        <nav>
            <li><a href=" {{ path('home') }}">Home</a></li>
            <li><a href="/list">Catalogue</a></li>
        </nav>
        {% block body %}{% endblock %}
    </body>
</html>
